@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main >
    <div class="page-background">@Body</div>
            
    </main>
</div>
